@import url(styles/header.css);
:root {
    --cor-de-fundo:#2112ed;
    --cor-cabecalho:#FFFFFF;

    }
    body {
        background-color: var(--cor-de-fundo);
        margin: 0x;
        padding: 0x;
}
